name: 'Auto Label'
on: 
  pull_request:
    branches: 
      - master
  
jobs:
  add-automerge-label:
    runs-on: ubuntu-latest
    
    if: github.event.action == 'opened'
    steps:
      - uses: actions/labeler@main
        with:
          repo-token: "${{ secrets.TOKEN_GITHUB }}"
          configuration-path: ".github/labeler.yml"
