name: CheckDestinationBranch

on:
  pull_request:
    branches: 
      - master
      - release
env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  CheckDestinationBranch:
    runs-on: ubuntu-latest
    
    steps:
      
      - name: Extract branch name
        run: |
              echo "PR_Branch_Name=${{ github.head_ref }}" >> $GITHUB_ENV  
              echo 'Event name:' ${{ github.event_name }}
              echo 'Destination branch for this PR:' ${{ github.base_ref }}
              
      
      - name: Extract Jira Issue Key
        run:  |
                echo PR Numer is: $GITHUB_PR_NUMBER
                
                restApiPRTitle=$(curl \
                                      -H "Accept: application/vnd.github.v3+json" \
                                      https://api.github.com/repos/naregkar/$GITHUB_REPOSITORY_NAME/pulls/$GITHUB_PR_NUMBER | jq  -r '.title')
                
                echo 'Entered title is:' $restApiPRTitle
                
                if [[ $restApiPRTitle =~ ^\[DT-[0-9]+\] ]]; then
                  #if the title matches the pattern
                  
                  jira_IdUnparsed=$restApiPRTitle
                  jira_id=${jira_IdUnparsed%]*}
                  jira_id=${jira_id:1}
                  echo "JiraId=$jira_id" >> $GITHUB_ENV
                  
                else
                  echo 'PR Title does not comply with the required pattern.'                  
                  exit 1
                fi
      
      - name: Check Jira Labels to know the destination branch (master, release or live)
        run: |
              restApiGETJiraIssueDetails=$(curl --request GET \
                  --url 'https://naregkar.atlassian.net/rest/api/3/issue/${{ env.JiraId }}/' \
                  --user 'nareg.karamanoukian@picsart.com:oBJTrxuI3qf0Do1MBpGbBE87' \
                  --header 'Accept: application/json');
                  
              jira_Issue_Labels=$(echo $restApiGETJiraIssueDetails | jq -r '.fields.labels')
              jira_Issue_Labels_Count=$(echo $jira_Issue_Labels | jq length)              
              
              echo 'jira_Issue_Labels:' $jira_Issue_Labels
              echo 'jira_Issue_Labels_Count:' $jira_Issue_Labels_Count
              
              if [[ $jira_Issue_Labels_Count -eq 1 ]]; then
                
                targetBranch=${{ github.event.pull_request.base.ref }}
                echo 'targetBranch: ' $targetBranch
                
                if [[ " ${jira_Issue_Labels[@]} " =~ "Showstopper" &&  $targetBranch == "release" ]]; then
                  echo 'Correct, release'
                elif [[ ${jira_Issue_Labels[@]} " =~ "Hotfix" &&  $targetBranch == "live" ]]; then
                  echo 'Correct, live'
                else
                  echo 'wrong'
                  exit 1
                fi                
              fi
