name: ManagePRReviewers

on:
  pull_request_review:
    types:
      - 'submitted'
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  
jobs:
  Manage-PRReviewers:
    runs-on: ubuntu-latest
    
    steps:
      
      - name: Extract branch name
        run: |
              echo "PR_Branch_Name=${{ github.head_ref }}" >> $GITHUB_ENV  
              echo 'Event name:' ${{ github.event_name }}
              
      - name: Assess PR Reviewers Count
        run:  |
                echo 'count is' ${{ env.PR_Branch_Name }}
                
                restApiGETGitHubReviewersDetails=$(curl \
                      -H "Accept: application/vnd.github.v3+json" \
                      https://api.github.com/repos/naregkar/devAutoMerge/pulls/$GITHUB_PR_NUMBER/reviews
                  );
                  
                  approverCount=$(echo $restApiGETGitHubReviewersDetails | jq 'group_by(.user.login) | map(select(max_by(.submitted_at) .state == "APPROVED")) | length')
                  
                  echo 'approved count is: ' $approverCount
                  
                  
      

