name: ManagePRReviewers

on:
  pull_request_review:
    types:
      - 'submitted'
env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  Manage-PRReviewers:
    runs-on: ubuntu-latest
    
    steps:
      
      - name: Extract branch name
        run: |
              echo "PR_Branch_Name=${{ github.head_ref }}" >> $GITHUB_ENV  
              echo 'Event name:' ${{ github.event_name }}
      
      - name: Extract Jira Issue Id
        run:  |
                echo PR Numer is: $GITHUB_PR_NUMBER
                
                restApiPRTitle=$(curl \
                                      -H "Accept: application/vnd.github.v3+json" \
                                      https://api.github.com/repos/naregkar/$GITHUB_REPOSITORY_NAME/pulls/$GITHUB_PR_NUMBER | jq  -r '.title')
                
                echo 'Entered title is:' $restApiPRTitle
                
                if [[ $restApiPRTitle =~ ^\[DT-[0-9]+\] ]]; then
                  #if the title matches the pattern
                  
                  jira_IdUnparsed=$restApiPRTitle
                  jira_id=${jira_IdUnparsed%]*}
                  jira_id=${jira_id:1}
                  echo "JiraId=$jira_id" >> $GITHUB_ENV
                  
                else
                  echo 'PR Title does not comply with the required pattern.'                  
                  exit 1
                fi
      
      - name: Assess PR Reviewers Count
        run:  |
                
                restApiGETGitHubReviewersDetails=$(curl \
                            -H "Accept: application/vnd.github.v3+json" \
                            https://api.github.com/repos/naregkar/devAutoMerge/pulls/$GITHUB_PR_NUMBER/reviews);
                  
                approverCount=$(echo $restApiGETGitHubReviewersDetails | jq 'group_by(.user.login) | map(select(max_by(.submitted_at) .state == "APPROVED")) | length')
                
                echo 'approved count is: ' $approverCount
                
                if [[ "$approverCount" -lt 1 ]]; then
                    echo 'More reviewers are needed in order to this Jira item to progress within its workflow.'
                    exit 1
                else
                    echo 'change status'
                    
                    curl --request PUT \
                      --url 'https://naregkar.atlassian.net/rest/api/3/issue/DT-47/assignee' \
                      --user 'nareg.karamanoukian@picsart.com:oBJTrxuI3qf0Do1MBpGbBE87' \
                      --header 'Accept: application/json' \
                      --header 'Content-Type: application/json' \
                      --data '{
                      "accountId": "5fea9ba3dd5eb5010881866b"
                    }'
                    
                fi
