name: ManagePRReviewers

on:
  pull_request_review:
    types:
      - 'submitted'
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  
jobs:
  Manage-PRReviewers:
    runs-on: ubuntu-latest
    
    steps:
      
      - name: Extract branch name
        run: |
              echo "PR_Branch_Name=${{ github.head_ref }}" >> $GITHUB_ENV  
              echo 'Event name:' ${{ github.event_name }}
              
              
      - name: Execute tool for PR reviewers
        id: 'prreviewtool'
        uses: 'jrylan/github-action-reviews-counter@main'
        with:
          repo-token: '${{ secrets.TOKEN_GITHUB }}'
          
      - name: Assess PR Reviewers Count
        run:  |
                echo 'count is' ${{ steps.prreviewtool.outputs.approved }}

