name: Manage PR Code Reviewers

on:
  pull_request_review:
    types: [submitted]
env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  Manage-PR-Reviewers:
    runs-on: ubuntu-latest
    
    steps:
      
      - name: Extract Jira Issue Key
        run:  |
                echo PR Numer is: $GITHUB_PR_NUMBER
                
                restApiPRTitle=$(curl \
                                      -H "Accept: application/vnd.github.v3+json" \
                                      -H 'authorization: token ${{ secrets.TOKEN_GITHUB }}' \
                                      https://api.github.com/repos/naregkar/$GITHUB_REPOSITORY_NAME/pulls/$GITHUB_PR_NUMBER | jq  -r '.title')
                
                echo 'Entered title is:' $restApiPRTitle
                
                if [[ $restApiPRTitle =~ ^\[DT-[0-9]+\] ]]; then
                  #if the title matches the required pattern
                  
                  jira_IdUnparsed=$restApiPRTitle
                  jira_id=${jira_IdUnparsed%]*}
                  jira_id=${jira_id:1}
                  echo "JiraId=$jira_id" >> $GITHUB_ENV
                  
                else
                  echo 'PR Title does not comply with the required pattern - [PW-xxxx]'                  
                  exit 1
                fi
      
      - name: Check if Jira issue Status is 'Code Review'
        run: |
              restApiGETJiraIssueDetails=$(curl --request GET \
                  --url 'https://naregkar.atlassian.net/rest/api/3/issue/${{ env.JiraId }}/' \
                  --user '${{ secrets.JIRA_USER_EMAIL }}:${{ secrets.JIRA_API_TOKEN }}' \
                  --header 'Accept: application/json');
                  
              jira_Issue_Status=$(echo $restApiGETJiraIssueDetails | jq -r '.fields.status.name')
              
              jira_Issue_Type=$(echo $restApiGETJiraIssueDetails | jq -r '.fields.issuetype.name')
              echo "JiraIssueType=$jira_Issue_Type" >> $GITHUB_ENV

              
              if [[ ${jira_Issue_Status} != "Code Review" ]]; then
                echo 'The Jira status is' $jira_Issue_Status 'for Issue: ${{ env.JiraId }}. Cannot proceed when the status is not set to Code Review.'
                exit 1
              fi                         
      
      - name: Assess the PR Reviewers Count
        run:  |
                
                restApiGETGitHubReviewersDetails=$(curl \
                            -H "Accept: application/vnd.github.v3+json" \
                            -H 'authorization: token ${{ secrets.TOKEN_GITHUB }}' \
                            https://api.github.com/repos/naregkar/$GITHUB_REPOSITORY_NAME/pulls/$GITHUB_PR_NUMBER/reviews);
                  
                approverCount=$(echo $restApiGETGitHubReviewersDetails | jq 'group_by(.user.login) | map(select(max_by(.submitted_at) .state == "APPROVED")) | length')
                
                echo 'Number of approved reviewers:' $approverCount
                
                if [[ "$approverCount" -lt 1 ]]; then
                    echo 'More reviewers are needed in order for this Jira item to progress within its workflow.'
                    exit 1
                else
                    echo 'Minimum number of code reviewers passed. Change assignee and status.'
                    
                    echo "CodeReviewDone=true" >> $GITHUB_ENV
                    
                    #assign Jira Issue to a certain person/unassign depends on the team
                    curl --request PUT \
                      --url 'https://naregkar.atlassian.net/rest/api/3/issue/${{ env.JiraId }}/assignee' \
                      --user '${{ secrets.JIRA_USER_EMAIL }}:${{ secrets.JIRA_API_TOKEN }}' \
                      --header 'Accept: application/json' \
                      --header 'Content-Type: application/json' \
                      --data '{
                      "accountId": "5fea9ba3dd5eb5010881866b"
                    }'
                    
                    #Change the Jira issue Status to QA Open
                    curl -D- -u ${{ secrets.JIRA_USER_EMAIL }}:${{ secrets.JIRA_API_TOKEN }} \
                      -X POST --data '{"transition":{"id":"61"}}' \
                      -H "Content-Type: application/json" https://naregkar.atlassian.net/rest/api/3/issue/${{ env.JiraId }}/transitions
         
                fi
                
                
      - name: Jenkins Job
        if: github.event.pull_request.base.ref == 'master' && env.CodeReviewDone == 'true'   
        run: |
                echo 'heyyyyyy'
                echo 'env: ' ${{ env.CodeReviewDone }}
