name: Validate 2 PR 2 Title 2

on:
  pull_request:
    types: [opened, edited, reopened, ready_for_review, synchronize]
    #paths-ignore:
    #- '.github/**'
    branches:
    - master
    - release
    - live
env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  Validate-2-PR-Title-2:
    runs-on: ubuntu-latest
    
    outputs:
      outputIssueId: ${{ steps.find.outputs.issue }}
    
    steps:
    
      - name: Login to JIRA
        uses: atlassian/gajira-login@master
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          
      
      - name: Find in commit messages
        id: find
        uses: atlassian/gajira-find-issue-key@master
        with:
          string: "${{ github.event.pull_request.title }}" #${{ github.head_ref }} ${{ github.event.head_commit.message }}"
          from: "" 
          
      - name: Comment under PR in case issue does not exist
        if: steps.find.outputs.issue == ''
        uses: mshick/add-pr-comment@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        with:
          message: ":red_circle: **Cannot find a matching issue in Jira**"
          
      - name: Comment under the PR the Jira Issue link
        if: steps.find.outputs.issue != ''
        uses: mshick/add-pr-comment@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        with:
          message: "Jira Issue Link: ${{ secrets.JIRA_BASE_URL }}/browse/${{ steps.find.outputs.issue }}"     
                           
      - name: Extract Jira Issue Key
        if: github.event.pull_request.draft == false
        run:  |
        
              
                
                outputPrevious=${{ steps.find.outputs.issue }}
                echo 'outputPrevious:' $outputPrevious

                if [[ $outputPrevious -ne '' ]]; then
                  echo 'issue exists'
                  
                  if [[ "${{ github.event.pull_request.title }}" =~ ^\[DT-[0-9]+\] ]]; then 
                    echo 'correct format'
                  else
                    echo 'incorrect'
                    exit 1
                  fi                 
                else
                  echo 'no output'
                  exit 1
                fi


      - name: Trigger to re-run
        if: github.event.pull_request.draft == false && steps.find.outputs.issue != ''
        run:  |
        
               restApiGetLabels=$(curl \
                                -H "Accept: application/vnd.github.v3+json" \
                                -H "Authorization: token ${{ secrets.TOKEN_GITHUB }}" \
                                https://api.github.com/repos/naregkar/devAutoMerge/issues/$GITHUB_PR_NUMBER/labels)
                                
               workflowIdExtracted=$(echo $restApiGetLabels | jq -r '.[] | select(.name | contains("ReviwerWorkflowId")) | .name');           
               
               echo 'workflowIdExtracted:' $workflowIdExtracted
               workflowId=$(echo $workflowIdExtracted| cut -d':' -f 2)
               echo 'workflowId:' $workflowId
               
               
               curl \
                -X POST \
                -H "Accept: application/vnd.github.v3+json" \
                -H "Authorization: token ${{ secrets.TOKEN_GITHUB }}" \
                https://api.github.com/repos/naregkar/devAutoMerge/actions/runs/$workflowId/rerun

  Transition-To-Code-Review:
    runs-on: ubuntu-latest
    needs: Validate-2-PR-Title-2
    
    steps:
    
      - name: test
        run: |
              echo 'inside job 2'
              echo ${{ needs.Validate-2-PR-Title-2.outputs.outputIssueId }}
              
              #Change the Jira issue Status to QA Open
              curl -D- -u ${{ secrets.JIRA_USER_EMAIL }}:${{ secrets.JIRA_API_TOKEN }} \
                   -X POST --data '{"transition":{"id":"51"}}' \
                   -H "Content-Type: application/json" ${{ secrets.JIRA_BASE_URL }}/rest/api/3/issue/${{ needs.Validate-2-PR-Title-2.outputs.outputIssueId }}/transitions

      - name: Slack notification
        env:
            SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
            SLACK_USERNAME: WebAutoMerger
            SLACK_CHANNEL: general
        uses: Ilshidur/action-slack@2.0.2
        with:
            args: "${{ github.event.pull_request.user.login }} opened a new PR. Please review."
