name: Validate 2 PR 2 Title 2

on:
  pull_request:
    types: [opened, edited, reopened, ready_for_review, synchronize]
    #paths-ignore:
    #- '.github/**'
    branches:
    - master
    - release
    - live
env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  Validate-2-PR-Title-2:
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Login to JIRA
        uses: atlassian/gajira-login@master
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          
      
      - name: Find in commit messages
        id: find
        uses: atlassian/gajira-find-issue-key@master
        with:
          string: "${{ github.event.pull_request.title }}" #${{ github.head_ref }} ${{ github.event.head_commit.message }}"
          from: "" 
          
      - name: Comment under PR in case issue does not exist
        if: steps.find.outputs.issue == ''
        uses: mshick/add-pr-comment@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        with:
          message: ":red_circle: **Cannot find a matching issue in Jira**"
          
      - name: Comment under the PR the Jira Issue link
        if: steps.find.outputs.issue != ''
        uses: mshick/add-pr-comment@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        with:
          message: "Jira Issue Link: ${{ secrets.JIRA_BASE_URL }}/browse/${{ steps.find.outputs.issue }}"     
                           
      - name: Extract Jira Issue Key
        if: github.event.pull_request.draft == false
        run:  |
                
                outputPrevious=${{ steps.find.outputs.issue }}
                echo 'outputPrevious:' $outputPrevious

                if [[ $outputPrevious -ne '' ]]; then
                  echo 'issue exists'
                  
                  if [[ "${{ github.event.pull_request.title }}" =~ ^\[DT-[0-9]+\] ]]; then 
                    echo 'correct format'
                  else
                    echo 'incorrect'
                    exit 1
                  fi                 
                else
                  echo 'no output'
                  exit 1
                fi


      - name: Trigger workflow_dispatch
        if: github.event.pull_request.draft == false && steps.find.outputs.issue != ''
        run:  |
        
              curl -i \
                -X POST \
                -H "Accept: application/vnd.github.v3+json" \
                -H "Authorization: token ${{ secrets.TOKEN_GITHUB }}" \
                https://api.github.com/repos/naregkar/devAutoMerge/actions/workflows/11589975/dispatches \
                -d '{"ref": "${{ github.head_ref }}" }'
