name: Validate 2 PR 2 Title 2

on:
  pull_request:
    types: [opened, edited, reopened, ready_for_review, synchronize]
    #paths-ignore:
    #- '.github/**'
    branches:
    - master
    - release
    - live
env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  GITHUB_PR_TITLE: ${{ github.event.pull_request.title }}
  
jobs:
  Validate-2-PR-Title-2:
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Login to JIRA
        uses: atlassian/gajira-login@master
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
               
      - name: Extract Jira Issue Key
        if: github.event.pull_request.draft == false
        run:  |
                
                echo 'Entered title is:' $GITHUB_PR_TITLE
                
                
                
                if [[ $GITHUB_PR_TITLE =~ ^\[DT-[0-9]+\] ]]; then
                  #if the title matches the required pattern
                  
                  jira_IdUnparsed=$restApiPRTitle
                  jira_id=${jira_IdUnparsed%]*}
                  jira_id=${jira_id:1}
                  echo "JiraId=$jira_id" >> $GITHUB_ENV                  
                  
                else
                                  
                  contentAdmins=$(curl \
                               -H "Accept: application/vnd.github.v3+json" \
                               https://api.github.com/repos/naregkar/$GITHUB_REPOSITORY_NAME/contents/.github/REPO-ADMINS | jq -r '.content')
               
                  returnText=$(echo $contentAdmins | base64 -d)
               
                  read -a arrayAdmins <<< $returnText

                  if [[ " ${arrayAdmins[*]} " == *" ${{ github.event.pull_request.user.login }} "* ]]; then
                    echo 'Ignore title validation for admins.'
                  else
                    #PR title is in the wrong format, the PR (if not draft) shall be closed
                    echo 'PR Title does not comply with the required pattern - [PW-xxxx]'                  
                    
                    #curl \
                    #      -X PATCH \
                    #      -H "Accept: application/vnd.github.v3+json" \
                    #      -H 'authorization: token ${{ secrets.TOKEN_GITHUB }}' \
                    #      https://api.github.com/repos/naregkar/$GITHUB_REPOSITORY_NAME/pulls/$GITHUB_PR_NUMBER \
                    #      -d '{"state": "closed"}'
                  fi
                  
                fi
