name: Video Autoamtion

on:
  pull_request:
    branches:
    - master
    - release
    - live
env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  Video-Automation:
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Extract branch name
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | awk '{print tolower($0)}'| sed -E -e 's/\.|_|\//-/g')" >> $GITHUB_ENV; echo "SHA8=$(echo ${GITHUB_SHA::8})" >> $GITHUB_ENV
      
      - name: Extract pull request's head branch
        if: github.event_name == 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF#refs/heads/} | awk '{print tolower($0)}'| sed -E -e 's/\.|_|\//-/g')" >> $GITHUB_ENV; echo "SHA8=$(echo ${GITHUB_SHA::8})" >> $GITHUB_ENV
      
      - name: Test
        run: echo "${BRANCH_NAME}"
      
      - name: some echoes
        run: |
              echo 'base ref: ' ${{ github.base_ref }}
              echo 'master to be merged'
              echo 'headsha: ' ${{ github.event.pull_request.head.sha }}
              echo 'repo: ' ${GITHUB_REPOSITORY}
              
              if [[ ${{ github.base_ref }} == 'release' ]]; then
                echo 'inside iffff, release'
              else
              
                echo 'master part'
                
                if [[ 1 == 1 ]]; then
                  echo 'hey'
                fi
                
                
              fi
                
