name: Video Autoamtion

on:
  pull_request:
    branches:
    - master
    - release
    - live
env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  Video-Automation:
    runs-on: ubuntu-latest
    
    steps:
      
      - name: branch name
        if: github.base_ref == 'master'
        run: |
              echo 'base ref: ' ${{ github.base_ref }}
              echo 'master to be merged'
              echo 'headsha: ' ${{ github.event.pull_request.head.sha }}
              
              if [[ ${{ github.base_ref }} == 'master' ]]; then
                echo 'inside iffff'
              fi
                
