name: Video Autoamtion

on:
  pull_request:
    branches:
    - master
    - release
    - live
env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  Video-Automation:
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Extract pull request's head branch
        run: echo "BRANCH_NAME=$(echo ${{ github.event.pull_request.head.ref }} | awk '{print tolower($0)}'| sed -E -e 's/\.|_|\//-/g')" >> $GITHUB_ENV;

      - name: Ping the site
        run: |
        
              branchNameInside='pw-13966-font-size'
              siteURL="https://${branchNameInside}-ve.picsartstage2.com"
              echo 'siteURL:' $siteURL
              pingSite=$(curl -Is $siteURL | head -1)
                      
             
              pingSite=$(echo $pingSite | xargs)

              if [[ "$pingSite" == "HTTP/2 200" ]]; then
                echo 'site is accessible'
              else
                echo 'site is not accessible'
              fi
